.cat-card {
  border: 1px solid rgba($color: gray, $alpha: 0.7);
  color: gray;
  width: 15%;
  padding: 2%;
  margin: 1%;
  border-radius: 0.8rem;
  cursor: pointer;
}
.cat-card:hover {
  background-color: rgba($color: gray, $alpha: 1);
  color: white;
}
