.Catg-holder {
  h1 {
    opacity: 0.5;
  }
  position: relative;
  width: 80%;
  margin: auto;
  display: flex;
  margin-top: 5vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
