.Home {
  position: relative;
  .img-home {
    position: absolute;
    right: 8%;
    top: 25%;
    border-radius: 0.8rem;
    box-shadow: 0 0 100px 12px rgba($color: white, $alpha: 1);
    width: 20%;
  }
  .img-home:hover {
    box-shadow: 0 0 100px 12px rgba($color: blue, $alpha: 1);
  }
  p {
    position: absolute;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 3rem;
    text-align: center;
    margin: auto;
    top: 50%;
    left: 5%;
  }
  height: 100vh;
  background: url("../img/lib.jpg") rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
}
