.login-card {
  padding: 2%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 1px solid rgba($color: gray, $alpha: 0.4);
  input {
    padding: 2%;
  }
  margin: auto;
  margin-top: 15vh;
  gap: 2rem;
  button {
    border-radius: 0.5rem;
    border: none;
    font-weight: 800;
    color: white;
    background-color: blue;
    padding: 2%;
    width: 20%;
    cursor: pointer;
  }
  p {
    color: blue;
    cursor: pointer;
  }
}
.login-card {
  display: flex;
}
.login-card:hover {
  box-shadow: 0 0 200px 1000px rgba($color: gray, $alpha: 0.7);
}
