.Nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: rgba($color: black, $alpha: 0.9);

  .logo {
    display: flex;
    align-items: center;
    margin-left: 2%;
    font-size: 2rem;
  }
  ul {
    margin-left: auto;
    margin-right: 5%;
    align-self: center;
    align-items: center;
    display: flex;
    li {
      a {
        text-decoration: none;
        color: white;
        font-weight: 400;
      }
      list-style: none;
      font-size: 1rem;
      margin: 2%;
      cursor: pointer;
    }
  }
}
