.form-reg {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  color: rgba($color: #000000, $alpha: 0.7);
  label {
    gap: 0.2rem;
    margin-top: 0.8rem;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    input {
      outline: none;
      padding: 1%;
      border: 1px solid rgba($color: gray, $alpha: 0.5);
      border-radius: 0.2rem;
    }
  }
  button {
    width: 20%;
    padding: 1%;
    background-color: blue;
    border: none;
    color: white;
    border-radius: 0.5rem;
    font-weight: 800;
    cursor: pointer;
  }
  width: 50%;
  text-align: left;
  margin: auto;
  justify-content: center;
  margin-top: 10vh;
}
