.Nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
}
.Nav .logo {
  display: flex;
  align-items: center;
  margin-left: 2%;
  font-size: 2rem;
}
.Nav ul {
  margin-left: auto;
  margin-right: 5%;
  align-self: center;
  align-items: center;
  display: flex;
}
.Nav ul li {
  list-style: none;
  font-size: 1rem;
  margin: 2%;
  cursor: pointer;
}
.Nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.Home {
  position: relative;
  height: 100vh;
  background: url("../img/lib.jpg") rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
}
.Home .img-home {
  position: absolute;
  right: 8%;
  top: 25%;
  border-radius: 0.8rem;
  box-shadow: 0 0 100px 12px white;
  width: 20%;
}
.Home .img-home:hover {
  box-shadow: 0 0 100px 12px blue;
}
.Home p {
  position: absolute;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  text-align: center;
  margin: auto;
  top: 50%;
  left: 5%;
}

.cat-card {
  border: 1px solid rgba(128, 128, 128, 0.7);
  color: gray;
  width: 15%;
  padding: 2%;
  margin: 1%;
  border-radius: 0.8rem;
  cursor: pointer;
}

.cat-card:hover {
  background-color: gray;
  color: white;
}

.Catg-holder {
  position: relative;
  width: 80%;
  margin: auto;
  display: flex;
  margin-top: 5vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Catg-holder h1 {
  opacity: 0.5;
}

.book {
  display: flex;
  flex-direction: column;
  width: 15rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}
.book p {
  font-family: "Courier New", Courier, monospace;
}

.book-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  margin: 5%;
}

.Reg-form {
  display: flex;
  flex-direction: column;
}

.form-reg {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.7);
  width: 50%;
  text-align: left;
  margin: auto;
  justify-content: center;
  margin-top: 10vh;
}
.form-reg label {
  gap: 0.2rem;
  margin-top: 0.8rem;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
}
.form-reg label input {
  outline: none;
  padding: 1%;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 0.2rem;
}
.form-reg button {
  width: 20%;
  padding: 1%;
  background-color: blue;
  border: none;
  color: white;
  border-radius: 0.5rem;
  font-weight: 800;
  cursor: pointer;
}

.login-card {
  padding: 2%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 1px solid rgba(128, 128, 128, 0.4);
  margin: auto;
  margin-top: 15vh;
  gap: 2rem;
}
.login-card input {
  padding: 2%;
}
.login-card button {
  border-radius: 0.5rem;
  border: none;
  font-weight: 800;
  color: white;
  background-color: blue;
  padding: 2%;
  width: 20%;
  cursor: pointer;
}
.login-card p {
  color: blue;
  cursor: pointer;
}

.login-card {
  display: flex;
}

.login-card:hover {
  box-shadow: 0 0 200px 1000px rgba(128, 128, 128, 0.7);
}/*# sourceMappingURL=main.css.map */